<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del usuario
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
                <table class="table table-hover">
                    <tr>
                        <th>Nombre y apellidos</th>
                        <td>{{usuario.nombre~' '~usuario.apellidos}}</td>
                    </tr>
                    <tr>
                        <th>Usuario</th>
                        <td>{{usuario.usuario}}</td>
                    </tr>
                    <tr>
                        <th>Correo</th>
                        <td>{{usuario.correo}}</td>
                    </tr>
                    {% if usuario.institucion is not empty %}
                    <tr>
                        <th>Institución</th>
                        <td>{{usuario.institucion}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Activo</th>
                        <td>{{usuario.activo |colorear}}</td>
                    </tr>
                    <tr>
                        <th>Permisos</th>
                        <td>
                            <ul>
                            {% for rol in usuario.idrol%}
                                <li>{{ rol }}</li>
                            {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-info btn-sm mt-ladda-btn ladda-button editar_usuario" data-style="expand-right" data-href="{{ path('usuario_edit',{'id':usuario.id}) }}">
                    <i class="flaticon-edit ladda-label"></i> Editar
                    <span class="ladda-spinner"></span>
                </a>
                <a class="btn btn-metal btn-sm" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>




