{{form_start(form,{'attr':{
    'id': form_id|default('tarifakw_new'),
    'class': 'm-form m-form--state'
}})}}
{% set i=0 %}
<div class="modal-body" id="modal-body">
    <div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-max-height="200">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.fecha)}}
                </label>
                <div>
                    {{form_widget(form.fecha)}}
                    {{form_errors(form.fecha)}}
                </div>
            </div>
        </div>
    </div>
    <div id="rangos">
        <table class="table">
            <thead>
            <tr>
                <th>Inicio</th>
                <th>Fin</th>
                <th>Valor</th>
                <th></th>
            </tr>
            </thead>
            {{ form_label(form.rangoTarifaKws) }}
            {{ form_errors(form.rangoTarifaKws) }}
            {% for obj in form.rangoTarifaKws%}
                <tr>
                        <td>
                            {{ form_widget(obj.inicio) }}
                            {{ form_errors(obj.inicio) }}
                        </td>
                        <td>
                            {{ form_widget(obj.fin) }}
                            {{ form_errors(obj.fin) }}
                        </td>
                        <td>
                            {{ form_widget(obj.valor) }}
                            {{ form_errors(obj.valor) }}
                        </td>
                        <td>
                            {% set ruta="" %}
                            {% if null!= obj.vars.value.id%}
                                {% set ruta= path('rango_tarifa_kw_delete',{'id':obj.vars.value.id}) %}
                            {% endif %}
                            <a class="btn btn-danger btn-sm eliminar_rangotarifa pull-right" data-href="{{ ruta}}"><i class="flaticon flaticon-delete-1"></i></a>
                        </td>
                </tr>
                {% set i=i+1 %}
                {% else %}
                    {{ form_widget(form.rangoTarifaKws) }}
            {% endfor %}
        </table>
    </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-metal btn-sm" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    <a class="btn btn-success  btn-sm" id="adicionar_rango">
        <i class="flaticon-add-circular-button"></i> Agregar rango
    </a>
    <button class="btn btn-primary  btn-sm mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i> {{ action |default('Guardar')}}
        <span class="ladda-spinner"></span>
    </button>
</div>
{{form_errors(form)}}
{{form_rest(form)}}
{{form_end(form)}}
<script>
    var cantidadrangos='{{ i }}';
</script>


