{% extends 'layout/autenticado.html.twig' %}
 {% block page_title %}Cierre de combustible <small class="text-muted">{{ cierremescombustible.getMesToString()~','~cierremescombustible.anno }}</small>{% endblock page_title %}
{% block body %}
        <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-list-3"></i></span>
                    <h3 class="m-portlet__head-text">
                        Listado
                    </h3>
                </div>
            </div>

            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item">
                        <a data-href="{{ path('cierremestarjeta_automatico',{'id':cierremescombustible.id}) }}" class="btn btn-primary btn-sm active"  data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Generar cierre automático" id="cierretarjeta_automatico">
                            <span><i class="flaticon-refresh"></i></span> Generar
                        </a>
                        <a data-href="{{ path('cierremestarjeta_new',{'id':cierremescombustible.id}) }}" class="btn btn-sm edicion"  data-toggle="m-tooltip" data-placement="top" title="" data-original-title="Agregar un cierre de tarjeta">
                            <span><i class="flaticon-add"></i></span> Nuevo
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="m-portlet__body">
                       <!--begin: Datatable -->
            <div class="" id="local_data">
            </div>
            <table class="table table-hover m-table m-table--head-separator-brand" id="cierremestarjeta_table">
                <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Tarjeta
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Combustible restante
                    </th>
                    <th>
                        Efectivo restante
                    </th>
                    <th>
                    </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Tarjeta
                    </th>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Combustible restante
                    </th>
                    <th>
                        Efectivo restante
                    </th>
                    <th>
                    </th>
                </tr>
                </tfoot>
            </table>
            <!--end: Datatable -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
<script src="{{ asset('script/entity/cierremestarjeta.js','sitrans') }}"></script>
    <script>
        var cierremensual='{{ cierremescombustible.id }}';
        cierremestarjeta.init();
    </script>
{% endblock javascripts %}