<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles de la institución
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <td>{{institucion.nombre}}</td>
                    </tr>
                    {%if institucion.institucionpadre is not null %}
                    <tr>
                        <th>Subordinada de</th>
                        <td>{{institucion.institucionpadre}}</td>
                    </tr>
                    {%endif%}
                    <tr>
                        <th>Municipio</th>
                        <td>{{institucion.municipio}}</td>
                    </tr>
                    <tr>
                        <th>Provincia</th>
                        <td>{{institucion.provincia}}</td>
                    </tr>
                    <tr>
                        <th>Activo</th>
                        <td><p>{{institucion.activo|colorear}}</p></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>




