{{form_start(form,{'attr':{
    'id': form_id|default('vehiculo_new'),
    'class': 'm-form m-form--state'
}})}}
<div class="modal-body" id="modal-body">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.matricula)}}
                </label>
                <div>
                    {{form_widget(form.matricula)}}
                    {{form_errors(form.matricula)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.institucion)}}
                </label>
                <div>
                    {{form_widget(form.institucion)}}
                    {{form_errors(form.institucion)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.tipovehiculo)}}
                </label>
                <div>
                    {{form_widget(form.tipovehiculo)}}
                    {{form_errors(form.tipovehiculo)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.marca)}}
                </label>
                <div>
                    {{form_widget(form.marca)}}
                    {{form_errors(form.marca)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.modelo)}}
                </label>
                <div>
                    {{form_widget(form.modelo)}}
                    {{form_errors(form.modelo)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.responsable)}}
                </label>
                <div>
                    {{form_widget(form.responsable)}}
                    {{form_errors(form.responsable)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.chofer)}}
                </label>
                <div>
                    {{form_widget(form.chofer)}}
                    {{form_errors(form.chofer)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.estado)}}
                </label>
                <div>
                    {{form_widget(form.estado)}}
                    {{form_errors(form.estado)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.tipocombustible)}}
                </label>
                <div>
                    {{form_widget(form.tipocombustible)}}
                    {{form_errors(form.tipocombustible)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.indconsumo)}}
                </label>
                <div>
                    {{form_widget(form.indconsumo)}}
                    {{form_errors(form.indconsumo)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.kmsxmantenimiento)}}
                </label>
                <div>
                    {{form_widget(form.kmsxmantenimiento)}}
                    {{form_errors(form.kmsxmantenimiento)}}
                </div>
            </div>
        </div>
    </div>
    {{form_errors(form)}}
    {{form_rest(form)}}
</div>
<div class="modal-footer">
    <a class="btn btn-metal btn-sm" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    <button class="btn btn-primary btn-sm mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i> {{ action |default('Guardar')}}
        <span class="ladda-spinner"></span>
    </button>
    {% if eliminable is defined and eliminable==true %}
        <a class="btn btn-danger btn-sm eliminar_vehiculo" data-href="{{ path('vehiculo_delete',{'id':vehiculo.id}) }}"><i class="flaticon-delete-1"></i> Eliminar</a>
    {% endif %}
</div>
{{form_end(form)}}

