<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del cupet
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
                <table class="table">
                    <tr>
                        <th>Nombre</th>
                        <td>{{ cupet.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Provincia</th>
                        <td>{{ cupet.provincia }}</td>
                    </tr>
                    <tr>
                        <th>Municipio</th>
                        <td>{{ cupet.municipio }}</td>
                    </tr>
                    <tr>
                        <th>En funcionamiento</th>
                        <td>{{ cupet.enfuncionamiento| colorear}}</td>
                    </tr>
                    <tr>
                        <th>Dirección particular</th>
                        <td><p>{{ cupet.direccion }}</p></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>




