{% extends is_granted('IS_AUTHENTICATED_FULLY') ? 'layout/autenticado.html.twig':  'layout/anonimo.html.twig'  %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        div.m-subheader {
            display: none;
        }
    </style>
{% endblock stylesheets %}
{% block body %}
    <div class="m-portlet m-portlet--mobile m--margin-top-30 m--margin-left-30 m--margin-right-30">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon"><i class="flaticon-information"></i></span>
                    <h3 class="m-portlet__head-text">
                        FAQs
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="row">
                <div class="col-md-6">
                    <h4>¿Es SITRANS aplicable en mi empresa?</h4>
                    <p>
                        SITRANS fue desarrollado de forma genérica, por tal motivo puede ajustarse a las necesidades de tu empresa
                        y cumplir todas tus necesidades. Además puedes utilizarlo en una red de empresas
                        de forma tal que puedas en tiempo real monitorear el estado de las instituciones subordinadas.
                        Ante cualquier duda <a href="mailto:marlin@unah.edu.cu">contáctanos</a> y permite que nuestros
                        especialistas identifiquen las características de tu institución.
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>¿Está a salvo mi información?</h4>
                    <p>Su információn está a salvo con SITRANS, nuestra prioridad es permitirle mejorar su trabajo y brindarle control
                        y tranquilidad con respecto a sus portadores energéticos. SITRANS posee un sistema de control continuo de trazas por
                        tal motivo podrá contrastar sus datos con el estado actual de su empresa e identificar las fallar y violaciones de forma sencilla.
                        Por otra parte, en términos de tecnología SITRANS brinda a sus clientes la posibilidad de que su actualización sea realizada
                        por profesionales capacitados.
                    </p>
                </div>
            </div>
            <div class="row m--margin-top-30">
                <div class="col-md-6">
                    <h4>¿Cómo puedo adquirir SITRANS?</h4>
                    <p>Cómo mencionamos en <a href="{{ path('estatica',{'page':'acercanosotros'}) }}">Acerca de Nosotros</a>, SITRANS es una aplicación libre y gratuita sin ánimos de lucro,
                        por tal motivo su código fuente está al alcance de todas la empresas y desarrolladores siempre y cuando
                        cumplan con los <a href="{{ path('estatica',{'page':'terminoservicio'}) }}"> términos del servicio</a> y <a href="{{ path('estatica',{'page':'copyright'}) }}">políticas de copyright</a>. Por tal motivo, usted
                        puede adquirir su código fuente accediendo a su sitio en <a href="https://github.com/">github</a> o contactando con los responsables
                        del desarrollo, soporte y mantenimiento del sistema en la Universidad Agraria de la Habana.
                    </p>
                </div>
                <div class="col-md-6">
                    <h4>¿Cómo puedo obtener servicios profesionales para el despliegue y soporte del sistema en mi empresa?</h4>
                    <p>Para el despliegue y mantenimiento del sistema usted puede contratar con los responsables
                        del desarrollo, soporte y mantenimiento del sistema en la Universidad Agraria de la Habana para
                        recibir estos servicios por parte de profesionales autorizados y capacitados de dicha institución.
                        Además dichos especialistas se encargarán de dar solución a cualquier dificultad o inquietud que usted
                        presente con respecto a SITRANS. Para más información visite nuestra página de <a href="{{ path('estatica',{'page':'terminoservicio'}) }}">soporte</a>.
                    </p>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
