<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Detalles del ajuste
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">
                <table class="table">
                    <tr>
                        <th>Tarjeta</th>
                        <td>{{ajuste.tarjeta}}</td>
                    </tr>
                    <tr>
                        <th>Tipo</th>
                        <td>{{ajuste.getTipoToString()}}</td>
                    </tr>
                    <tr>
                        <th>Fecha</th>
                        <td>{{ajuste.fecha |date('d-m-Y H:i')}}</td>
                    </tr>
                    <tr>
                        <th>Cantidad de litros</th>
                        <td>{{ajuste.monto}}</td>
                    </tr>
                    <tr>
                        <th>Cantidad de efectivo</th>
                        <td>{{ ajuste.cantefectivo }}</td>
                    </tr>
                    <tr>
                        <th>Usuario</th>
                        <td>{{ ajuste.usuario }}</td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
            </div>
        </div>
    </div>
</div>




