<!DOCTYPE html>

<title>Somaton index</title>

{% block body %}
    <h1>Somaton index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Aprobado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for somaton in somatons %}
            <tr>
                <td>{{ somaton.id }}</td>
                <td>{{ somaton.fecha ? somaton.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ somaton.descripcion }}</td>
                <td>{{ somaton.aprobado ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('somaton_show', {'id': somaton.id}) }}">show</a>
                    <a href="{{ path('somaton_edit', {'id': somaton.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('somaton_new') }}">Create new</a>
{% endblock %}