<!DOCTYPE html>

<title>Somaton</title>

{% block body %}
    <h1>Somaton</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ somaton.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ somaton.fecha ? somaton.fecha|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ somaton.descripcion }}</td>
            </tr>
            <tr>
                <th>Aprobado</th>
                <td>{{ somaton.aprobado ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('somaton_index') }}">back to list</a>

    <a href="{{ path('somaton_edit', {'id': somaton.id}) }}">edit</a>

    {{ include('somaton/_delete_form.html.twig') }}
{% endblock %}