{{form_start(form,{'attr':{
    'id': form_id|default('responsable_new'),
    'class': 'm-form m-form--state'
}})}}

<div class="modal-body" id="modal-body">
    <div class="row pull-right">
    <span class="m-switch m-switch--icon m-switch--success pull-right">
				<label>
					{{form_widget(form.activo)}}
                    <span></span>
			</label>
    </span>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.nombre)}}
                </label>
                <div>
                    {{form_widget(form.nombre)}}
                    {{form_errors(form.nombre)}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.apellidos)}}
                </label>
                <div>
                    {{form_widget(form.apellidos)}}
                    {{form_errors(form.apellidos)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.ci)}}
                </label>
                <div>
                    {{form_widget(form.ci)}}
                    {{form_errors(form.ci)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.area)}}
                </label>
                <div>
                    {{form_widget(form.area)}}
                    {{form_errors(form.area)}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.tarjetas)}}
                </label>
                <div>
                    {{form_widget(form.tarjetas)}}
                    {{form_errors(form.tarjetas)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.direccion)}}
                </label>
                <div>
                    {{form_widget(form.direccion)}}
                    {{form_errors(form.direccion)}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    <button class="btn btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i> {{ action |default('Guardar')}}
        <span class="ladda-spinner"></span>
    </button>
</div>
{{form_end(form)}}

