<div class="modal-dialog modal-full">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                Resultados: Consumo de kilómetros y litros
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
        </div>
        <div>
            <div class="modal-body" id="modal-body">

                <div class="col-md-6 m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-brand alert-dismissible fade show alert-notification" role="alert" style="display: none !important;">
                    <div class="m-alert__icon">
                        <i class="flaticon-analytics"></i>
                        <span></span>
                    </div>
                    <div class="m-alert__text">
                        <span><b>Análisis del período</b></span>
                        <ul >
                            <li>Cantidad de kilómetros recorridos: {{ data.totalkms }}</li>
                            <li>Total de litros: {{ data.totallitros }}</li>
                        </ul>
                    </div>
                    <div class="m-alert__close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>

                <div class="clearfix"></div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Kilómetros</th>
                        <th>Litros</th>
                    </tr>
                    </thead>
                    {% for obj in data.data %}
                        <tr>
                            <td>{{ obj.matricula }}</td>
                            <td>{{ obj.kms }}</td>
                            <td>{{ obj.litros }}</td>
                        </tr>
                    {% endfor %}
                    <tfoot>
                    <tr>
                        <th>Matrícula</th>
                        <th>Kilómetros</th>
                        <th>Litros</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
            <div class="modal-footer">
                <a class="btn btn-metal btn-sm" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
                <a class="btn btn-primary btn-sm exportar" data-dismiss="modal"><i class="flaticon-file"></i> Exportar</a>
            </div>
        </div>
    </div>
</div>