<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" aria-haspopup="true">
    <a  href="javascript:;" class="m-menu__link m-menu__toggle header">
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon flaticon-analytics"></i>
        <span class="m-menu__link-text">
														Nomencladores
													</span>
        <i class="m-menu__hor-arrow la la-angle-down"></i>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">

        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="{{ path('usuario_index') }}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
																				Usuarios
																			</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-coins"></i>
                    <span class="m-menu__link-text">
																	Economía
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('area_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Área
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('centrocosto_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Centro de costo
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('cuenta_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Cuenta
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('elemento_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Elemento
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('subelemento_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Subelemento
																			</span>
                            </a>
                        </li>

                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('partida_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Partida
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-light"></i>
                    <span class="m-menu__link-text">
																	Electricidad
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('reloj_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Reloj
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-transport"></i>
                    <span class="m-menu__link-text">
																	Transporte
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('tipoactividad_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de actividad
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('tipotarjeta_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de tarjeta
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</li>