<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  m-menu-submenu-toggle="click" aria-haspopup="true">
    <a  href="javascript:;" class="m-menu__link m-menu__toggle header">
        <span class="m-menu__item-here"></span>
        <i class="m-menu__link-icon flaticon-analytics"></i>
        <span class="m-menu__link-text">
														Nomencladores
													</span>
        <i class="m-menu__hor-arrow la la-angle-down"></i>
        <i class="m-menu__ver-arrow la la-angle-right"></i>
    </a>
    <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">

        <span class="m-menu__arrow m-menu__arrow--adjust"></span>
        <ul class="m-menu__subnav">
            <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="{{ path('usuario_index') }}" class="m-menu__link ">
                    <i class="m-menu__link-icon flaticon-users"></i>
                    <span class="m-menu__link-text">
																				Usuarios
																			</span>
                </a>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-dashboard"></i>
                    <span class="m-menu__link-text">
																	General
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('institucion_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Institución
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('municipio_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Municipio
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('provincia_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Provincia
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-coins"></i>
                    <span class="m-menu__link-text">
																	Economía
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('preciocombustible_index') }}" class="m-menu__link ">
                                <span class="m-menu__link-text">Precio de combustible</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-light"></i>
                    <span class="m-menu__link-text">
																	Electricidad
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('tarifakw_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tarifa de kilowatts
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="m-menu__item  m-menu__item--submenu"  m-menu-submenu-toggle="hover" m-menu-link-redirect="1" aria-haspopup="true">
                <a  href="javascript:;" class="m-menu__link m-menu__toggle">
                    <i class="m-menu__link-icon flaticon-transport"></i>
                    <span class="m-menu__link-text">
																	Transporte
																</span>
                    <i class="m-menu__hor-arrow la la-angle-right"></i>
                    <i class="m-menu__ver-arrow la la-angle-right"></i>
                </a>
                <div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--right">
                    <span class="m-menu__arrow "></span>
                    <ul class="m-menu__subnav">
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('cupet_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Cupet
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('licencia_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Licencia
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('tipocombustible_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de combustible
																			</span>
                            </a>
                        </li>
                        <li class="m-menu__item "  m-menu-link-redirect="1" aria-haspopup="true">
                            <a  href="{{ path('tipovehiculo_index') }}" class="m-menu__link ">
																			<span class="m-menu__link-text">
																				Tipo de vehículo
																			</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</li>