<div class="m-grid__item prefooter">
    <div class="m-container  m-container--responsive m-container--xxl m-container--full-height">
        <div class="row" >
            <div class="col-md-3">
                <h6 class="underline">SITRANS</h6>
                <p class="text-justify">
                    Herramienta totalmente libre y gratuita para la gestión y control de los portadores energéticos de
                    una empresa, institución o centro de trabajo.
                </p>
            </div>
            <div class="col-md-3">
                <h6>Información</h6>
                <ul>
                    <li>
                        <a href="https://www.unah.edu.cu/">Descúbrenos</a>
                    </li>
                    <li><a class="m-nav__link" href="{{ path('estatica',{'page':'faqs'}) }}">FAQs</a></li>
                    <li><a class="m-nav__link" href="{{ path('estatica',{'page':'soporte'}) }}">Soporte</a></li>
                    <li><a href="mailto:marlin@unah.edu.cu">Contáctanos</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h6>Legal</h6>
                <ul>
                    <li><a class="m-nav__link" href="{{ path('estatica',{'page':'terminoservicio'}) }}">Términos del servicio</a></li>
                    <li><a class="m-nav__link" href="{{ path('estatica',{'page':'politicaprivacidad'}) }}">Política de privacidad</a></li>
                    <li><a class="m-nav__link" href="{{ path('estatica',{'page':'copyright'}) }}">Política de copyright</a></li>
                    <li><a class="m-nav__link" href="{{ path('estatica',{'page':'politicacookies'}) }}">Política de cookies</a></li>
                </ul>

            </div>
            <div class="col-md-3">
                <h6>Redes sociales</h6>
                <ul class="list-unstyled">
                    <li>
                        <ul class="m-footer__nav m-nav m-nav--inline">
                            <li class="m-nav__item"><a href="https://www.facebook.com"><i class="socicon-facebook"></i></a></li>
                            <li class="m-nav__item"><a href="https://www.twitter.com"><i class="socicon-twitter"></i></a></li>
                            <li class="m-nav__item"><a href="https://github.com/"><i class="socicon-github"></i></a></li>
                        </ul>
                    </li>
                    <li class="margin-top-20">
                        <p class="text-right">Consigue SITRANS y comienza a controlar tus portadores energéticos.</p>
                    </li>
                    <li><a class="btn btn-primary btn-block active" href="https://github.com/eduard2diaz/sitrans"><i class="flaticon-download"></i> <span class="m--margin-left-10">Descargar ahora</span></a></li>
                </ul>

            </div>
        </div>
    </div>
</div>
<footer class="m-grid__item  m-footer ">
    <div class="m-container m-container--responsive m-container--xxl m-container--full-height">
        <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
            <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
							<span class="m-footer__copyright">
								Copyright &copy; 2018 SITRANS. Todos los derechos reservados
							</span>
            </div>
            <div class="m-stack__item m-stack__item--right m-stack__item--middle m-stack__item--first">
                <ul class="m-footer__nav m-nav m-nav--inline m--pull-right">
                    <li class="m-nav__item">
                        <a href="{{ path('estatica',{'page':'acercanosotros'}) }}" class="m-nav__link">
										<span class="m-nav__link-text">
											Acerca de nosotros
										</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="{{ path('estatica',{'page':'accesibilidad'}) }}"  class="m-nav__link">
										<span class="m-nav__link-text">
											Accesibilidad
										</span>
                        </a>
                    </li>
                    <li class="m-nav__item">
                        <a href="{{ path('estatica',{'page':'escalabilidad'}) }}" class="m-nav__link">
										<span class="m-nav__link-text">
											Escalabilidad
										</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>