<!DOCTYPE html>
<html>
<meta charset="UTF-8"/>
<head>
    <title>Diferencia de consumos</title>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>

</head>
<body>
            <h1 class="text-center m--margin-bottom-40">
                Diferencia de consumos
            </h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Matrícula</th>
                        <th>Consumo registrado</th>
                        <th>Consumo real</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for obj in data %}
                        <tr>
                            <td>{{ obj.matricula }}</td>
                            <td>{{ obj.consumoregistrado }}</td>
                            <td>{{ obj.consumoreal }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
</body>
</html>