            <h5>
                Resumen de distribución de combustible {{mes~', '~anno }}
            </h5>
    <table class="table">
        <thead>
            <tr>
                <th>Tipo de combustible</th>
                <th colspan="2">Número de tarjeta</th>
                <th>Cantidad de litros</th>
                <th>Importe</th>
                <th>Total</th>
                <th>Responsable</th>
            </tr>
        </thead>
        {% set i=1 %}

    {% for obj in data %}
        {% set sumaimporte=0 %}
        {% set sumalitros=0 %}
        {% for tarjeta in obj.tarjetas %}
        <tr>
            <td>{{ obj.tipocombustible }}</td>
                    <td>{{ i }}</td>
                    <td>{{ tarjeta[0].codigo }}</td>
                    <td>{{ tarjeta[0].litros  }}</td>
                    <td>{{ tarjeta[0].importe  }}</td>
                    <td></td>
                    <td>{{ tarjeta[0].nombre~' '~tarjeta[0].apellidos  }}</td>
                    {% set i=1+i %}
                    {% set sumalitros=sumalitros+tarjeta[0].litros %}
                    {% set sumaimporte=sumaimporte+tarjeta[0].importe %}
                    </tr>
        {% endfor %}
        <tr>
            <th colspan="3">TOTAL</th>
            <th class="text-uppercase" >{{ sumalitros }}</th>
            <th class="text-uppercase" colspan="3">{{ sumaimporte }}</th>
        </tr>
    {% endfor %}
    </table>