<!DOCTYPE html>
<meta charset="UTF-8"/>
<html>
<head>
    <title>Consumo de kms</title>
    <link href="{{ absolute_url(asset('vendors/base/vendors.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ absolute_url(asset('demo/demo9/base/style.bundle.css','template')) }}" rel="stylesheet"
          type="text/css"/>
</head>
<body>
    <h1 class="text-center m--margin-bottom-40">
        Kilómetros y litros consumidos
    </h1>
        <table class="table">

            <thead>
            <tr>
                <th>Matrícula</th>
                <th>Kilómetros</th>
                <th>Litros</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in data.data %}
                <tr>
                    <td>{{ obj.matricula }}</td>
                    <td>{{ obj.kms }}</td>
                    <td>{{ obj.litros }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</body>
</html>