{{form_start(form,{'attr':{
    'id': form_id|default('partida_new')
}})}}

<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            {{form_row(form.codigo)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.tipopartida)}}
        </div>
    </div>
    <div class="row margin-top-10">
        <div class="col-md-6">
            {{form_row(form.nombre)}}
        </div>
        <div class="col-md-6">
            {{form_row(form.cuenta)}}
        </div>

    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-metal" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    <button class="btn btn-primary mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i> {{ action |default('Guardar')}}
        <span class="ladda-spinner"></span>
    </button>
</div>
{{form_end(form)}}

