{{form_start(form,{'attr':{
    'id': form_id|default('area_new'),
    'class': 'm-form m-form--state'
}})}}

<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.nombre)}}
                </label>
                <div>
                    {{form_widget(form.nombre)}}
                    {{form_errors(form.nombre)}}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.codigo)}}
                </label>
                <div>
                    {{form_widget(form.codigo)}}
                    {{form_errors(form.codigo)}}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row m--margin-top-20-desktop">
        <div class="col-md-6">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.ccosto)}}
                </label>
                <div>
                    {{form_widget(form.ccosto)}}
                    {{form_errors(form.ccosto)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row  m--margin-top-20">
        <div class="col-md-12">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.direccionparticular)}}
                </label>
                <div>
                    {{form_widget(form.direccionparticular)}}
                    {{form_errors(form.direccionparticular)}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-metal btn-sm" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    <button class="btn btn-primary btn-sm mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i> {{ action |default('Guardar')}}
        <span class="ladda-spinner"></span>
    </button>
</div>
{{form_end(form)}}

