{{form_start(form,{'attr':{
    'id': form_id|default('chip_new'),
    'class': 'm-form m-form--state'
}})}}

<div class="modal-body" id="modal-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.tarjeta)}}
                </label>
                <div>
                    {{form_widget(form.tarjeta)}}
                    {{form_errors(form.tarjeta)}}
                </div>
            </div>
            {{form_errors(form)}}
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.cupet)}}
                </label>
                <div>
                    {{form_widget(form.cupet)}}
                    {{form_errors(form.cupet)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.numerocomprobante)}}
                </label>
                <div>
                    {{form_widget(form.numerocomprobante)}}
                    {{form_errors(form.numerocomprobante)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.fecha)}}
                </label>
                <div>
                    {{form_widget(form.fecha)}}
                    {{form_errors(form.fecha)}}
                </div>
            </div>
        </div>

    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.idfisico)}}
                </label>
                <div>
                    {{form_widget(form.idfisico)}}
                    {{form_errors(form.idfisico)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.idlogico)}}
                </label>
                <div>
                    {{form_widget(form.idlogico)}}
                    {{form_errors(form.idlogico)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.moneda)}}
                </label>
                <div>
                    {{form_widget(form.moneda)}}
                    {{form_errors(form.moneda)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.servicio)}}
                </label>
                <div>
                    {{form_widget(form.servicio)}}
                    {{form_errors(form.servicio)}}
                </div>
            </div>
        </div>
    </div>
    <div class="row m--margin-top-20">
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.saldoinicial)}}
                </label>
                <div>
                    {{form_widget(form.saldoinicial)}}
                    {{form_errors(form.saldoinicial)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.importe)}}
                </label>
                <div>
                    {{form_widget(form.importe)}}
                    {{form_errors(form.importe)}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group m-form__group">
                <label>
                    {{form_label(form.litrosextraidos)}}
                </label>
                <div>
                    {{form_widget(form.litrosextraidos)}}
                    {{form_errors(form.litrosextraidos)}}
                </div>
            </div>
        </div>
    </div>
    {{form_errors(form)}}
    {{form_rest(form)}}
</div>
<div class="modal-footer">
    <a class="btn btn-metal btn-sm" data-dismiss="modal"><i class="flaticon-cancel"></i> Cancelar</a>
    <button class="btn btn-primary btn-sm mt-ladda-btn ladda-button" data-style="expand-right" type="submit">
        <i class="flaticon-edit-1 ladda-label"></i> {{ action |default('Guardar')}}
        <span class="ladda-spinner"></span>
    </button>
</div>
{{form_end(form)}}

